@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <br />
    <br />
    <div class="container">
        <h2>About Us</h2>
        <br />

        <p>
            Welcome to MainStreet Market, your one-stop-shop for all your shopping needs.
            Our company was founded in 2023 with a mission to provide high-quality products
            at affordable prices to our customers. <br/>
            We are committed to delivering the best shopping experience and excellent customer service.
        </p>
        <p>
            At MainStreet Market, we offer a wide range of products, including electronics, men's fashion,
            women's fashion, and much more. Our team of dedicated professionals works tirelessly
            to ensure that you get the best products delivered right to your doorstep.
        </p>
        <p>
            We value our customers and strive to build long-lasting relationships based on
            trust and satisfaction. Your happiness is our priority, and we will go the extra
            mile to exceed your expectations.
        </p>
    </div>


</main>